<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModaGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-gerar.css') }}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>
    <header class="page-header">
        <h1 class="brand-title">ModaGPT</h1>
        <!-- <p class="header-description">Digite um prompt para pesquisar entre milhares de looks</p> -->
        <section class="prompt-section">
            <form action="/gerar" class="">
                <label class="header-description" for="input-look">Digite um prompt para pesquisar entre milhares de looks</label>
                <div class="input">
                    <button>
                        <img src="{{ url_for('static', filename='seta.svg')}}" alt="">
                        <!-- <input type="button"> -->
                    </button>
                    <input type="textarea" name="query" id="input-look" placeholder="Como posso te vestir hoje?">
                </div>
            </form>
        </section>
    </header>
    <h2>Roupas selecionadas especialmente para você</h2>
    <main class="card-wrapper">
        {% for roupa in roupas %}
        <div class="card">
            <img src="{{ roupa.imgs[0] }}" alt="{{ roupa.titulo }}" style="width: 100%;">
            <div class="card-container">
                <span class="card-title">
                    <h4>{{ roupa.titulo }}</h4>
                    <!-- <img src="{{ url_for('static', filename='seta.svg')}}" alt="Ícone de adicionar no carrinho"> -->
                    <h4>{{ roupa.nota }}/10</h4>
                </span>
                <p class="card-desc">{{ roupa.justificativa.split(".")[1].strip() }}</p>
                <!-- <p>{{ roupa.titulo }} | <a href="{{ roupa.href }}">Link</a> | {{ roupa.nota }}/10 -> {{ roupa.justificativa }}</p> -->
            </div>
        </div>
        {% endfor %}
    </main>
    <footer class="page-footer">
    <p>Crédito La Moda @ 2024</p>    
    </footer>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
</body>
</html>
